.root, .dialog-pane {
    -fx-background-color: #000005; /* Background color for the whole application */
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #000007;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell:even {
    -fx-background-color: #000006;
    -fx-text-fill: #000007;
}

.list-cell:odd {
    -fx-background-color: #000005;
    -fx-text-fill: #000007;
}

.list-cell:selected {
    -fx-background-color: #000001;
    -fx-text-fill: #000008;
}

.menu-bar {
    -fx-background-color: #000005;
}

.menu-item, .menu, .context-menu {
    -fx-background-color: #000005;
}

.menu .label {
    -fx-text-fill: #000007;
}

.menu-item:hover, .menu:hover, .menu .label:hover, .menu-item:hover .label {
    -fx-background-color: #000001;
    -fx-text-fill: #000008;
}

.button:hover, dialog-pane .button-bar .button:hover {
    -fx-background-color: #000001;
    -fx-text-fill: #000002;
    -fx-border-color: #000002;
}

.button, dialog-pane .button-bar .button {
    -fx-background-color: #000002;
    -fx-text-fill: #000001;
    -fx-border-color: #000001;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.text-field, .text-area {
    -fx-border-color: #000002;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-background-color: #000006;
}
.text-field:focused, .text-area:focused {
    -fx-border-color: #000004;
}

.label {
    -fx-text-fill: #000007;
    -fx-font-size: 16px;
}
.label.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.check-box, .radio-button {
    -fx-background-color: #000005;
    -fx-text-fill:  #000007;
}
.check-box:selected .mark, .radio-button:selected {
    -fx-background-color: #000001;
}

.check-box:focused, .radio-button:focused {
    -fx-shadow-highlight-color : #000001;
}

.slider .track {
    -fx-background-color: #ddd;
}
.slider .thumb {
    -fx-background-color: #000001;
}
.slider .thumb:hover {
    -fx-background-color: #000004;
}

.scroll-pane {
    -fx-background-color: #000005;
}
.scroll-pane .viewport {
    -fx-background-color: #000005;
}

.scroll-pane {
    -fx-background-color: #000005;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #000001;
    -fx-background-radius: 3em;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.color-picker {
    -fx-background-color: #000002;
    -fx-border-color: #000001;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.color-picker:hover {
    -fx-background-color: #000001;
    -fx-border-color: #000002;
}


