.list-view {
    -fx-background-color: transparent;
}

.list-cell:even  {
    -fx-background-color: #E8C8DA;
    -fx-text-fill: black;
}

.list-cell:odd{
    -fx-background-color: #F8E6F0;
    -fx-text-fill: black;
}

.list-cell:selected  {
    -fx-background-color: #BE95C4;
    -fx-text-fill: #5E548E;
}

.menu-bar{
    -fx-background-color: #9F86C0;
    -fx-border-color: #231942;
}
 .menu-item, .menu, .context-menu {
    -fx-background-color: #9F86C0;
}
.menu .label {
    -fx-text-fill: #231942;
}
.menu-item:hover, .menu:hover {
    -fx-background-color: #5E548E;
}
